body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}

.player-box {
    width: 20%;
    margin-bottom: -5px;      
}

@media (max-width: 414px) {
    .player-box {
        width: 50%;
    }
}

.player-image {
  width: 100%;
}