body {
    margin: 0;
    background-color: black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}

.player-box {
    width: 20%;
    margin: 25px 0;      
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px)
and (orientation : portrait) {
    .player-box {
        width: 50%;
    }
}

.player-image {
    margin-left: 10%;
    width: 80%;
    cursor: pointer;
    border-image-source: url('../images/fire.jpg');
    border-image-slice: 20;
    border-image-width: 20;
}

.header-box {
    width: 30%;
    margin: 20px auto;
}

.header-image {
    width: 100%;
}

.title {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    font-family: customStyle;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFD700;
}

@font-face {
    font-family: customStyle;
    src: url("../9914.ttf") format("opentype");
}